.progress {
  height: 26px;
  .progress-item {
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #f2f2f2;
    cursor: pointer;
    padding: 0;
    &.first {
      border-left: none;
    }
    &.last {
      border-right: none;
    }
    &:hover {
      background-color: #46a1ef;
      a {
        color: #fff;
      }

    }
    a {
      display: block;

    }
    &.active {
      background-color: #337ab7;
      a {
        color: #fff;
        &:after {
          content: "\f0c8";
          font-family: FontAwesome;
          font-size: 16px;
          position: absolute;
          right: 5px;
          top: -1px;
        }
      }
    }
    &.complete {
      //background-color: #337ab7;
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
      a {
        color: #fff;
        &:after {
          content: "\f046";
          font-family: FontAwesome;
          font-size: 16px;
          position: absolute;
          right: 5px;
        }
      }
    }
  }
  a {
    line-height: 26px;
  }
}
