.noia {
  .breadcrumb {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
  }

  .required {
    color: darkred;
  }

  h2 {
    font-size: 1rem;
  }
}

:host /deep/ .dynamic-form {

}
