html, body{
  height: 100%;
  #main-content {
    min-height: 100%;
    position: relative;
  }
  font-size: 1rem;
  font-family: "Open Sans", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

  #page-title {
    font-family: "Bitter", Helvetica, Arial, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Bitter,Times New Roman,Times,serif;
    font-weight: 700;
  }

  .required {
    color: darkred;
  }
}

#project-name {
  text-transform: lowercase;
  > span {
    text-transform: capitalize;
  }
}
#app-loader {
  width: 100%;
  display: none;
}
#main-content {

}
#main-content.loader {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

sd-footer {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  height: 347px;
}

#component-container {
  padding-bottom: 360px;
}
