<div id="footer-wrapper">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>ACO Management System</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <h4>Learn More</h4>
          <ul>
            <li><a href="/" data-track-category="FooterNav" data-track-action="OpenACOMSHome" data-track-label="ACO Management System">ACO Management System</a></li>
            <li><a href="/learn/qpp" data-track-category="FooterNav" data-track-action="OpenLearn" data-track-label="Learn About the Program">Learn About the Program</a></li>

          </ul>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4>Privacy &amp; Accessibility</h4>
          <ul>
            <li><a href="/privacy" data-track-category="FooterNav" data-track-action="OpenPrivacyDisclaimer" data-track-label="Notice of Privacy and Disclaimer">CMS Privacy Notice</a></li>
            <li><a href="/accessibility" data-track-category="FooterNav" data-track-action="OpenAccessibility" data-track-label="Accessibility">Accessibility</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4>Contact Service Center</h4>
          <ul>
            <li><a class="email-link" href="mailto:ACOMS@cms.hhs.gov"><!--svg.icon.icon-mailuse(xmlns:xlink='https://www.w3.org/1999/xlink', xlink:href='#icon-mail')-->Send Us Your Questions</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3"><img alt="Center for Medicaid &amp; Medicare Services" src="/assets/img/hhs-logo.png"></div>
      </div>

      <!--// DEMO //-->
      <div id="demo" style="position: absolute; bottom: 0; right: 0;">
        <a  routerLink="/demo">Demo</a>
      </div>

    </div>
  </footer>
</div>
